- if logged_in?
  - if admin_only?
    %li= link_to "Admin", admin_root_path
  %li= link_to "LogOut", logout_path, method: :delete
- else
  %li= link_to "Join", sign_up_path
  %li= link_to "Enter", login_path